{% extends 'base.html.twig' %}
 {% block body %}
{#     <h1>Première page web avec Symfony</h1>#}
     <div class="container">
{#         <pre>#}
{#    {{ dump(post) }}#}
{#</pre>#}
         {% for categories in post %}
             <h2>{{ categories.title }}</h2>
             <pre>{{ categories.description }}</pre>
         {% endfor %}
     </div>

 {% endblock %}